* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: auto;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  max-width: 1200px;
  height: 100%;
}
.galeria {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-auto-rows: 300px;
}
.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.galeria img:hover{
  opacity: 0.5;
}
.galeria img:active{
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(5%,5%);
  width: 90%;
  height: 90%;
  opacity: 1;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  object-fit: contain;
}
.galeria div {
  padding: 3px;
  width: 100%;
}
.r1 {
  grid-row: span 1;
}
.r2 {
  grid-row: span 2;
}
.c1 {
  grid-column: span 1;
}
.c2 {
  grid-column: span 2;
}
@media (max-width: 768px) {
  .galeria {
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 150px;
  }
  .galeria div:nth-child(4) {
    grid-column: span 2;
  }
}
@media (max-width: 425px) {
  .galeria {
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: 100px;
  }
}
